@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    box-sizing: border-box;
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Main */
#main{
    width: 100%;
    height: 100vh;
    position: relative;
}

nav{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.02);
    background-color: #ffff;
    z-index: 1;
}

.logo img{
    height: 45px;
}

ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul li a {
    height: 40px;
    line-height: 45px;
    margin: 3px;
    padding: 10px 22px;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    color: #585b5b;
    letter-spacing: 1px;
}

nav ul li a:hover {
    background-color: #2adabc;
    color: #ffff;
    box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.02);
    transition: all ease .3s;
}

.hey{
    color: #39bfbd;
    font-weight: 500;
    font-size: 15px;
    border-bottom: 2px solid #40c6c4;
}

.model {
    width: 500px;
    height: 500px;
}

.model img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.content {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-text{
    width: 500px;
}

.main-text h1{
    font-size: 52px;
    line-height: 60px;
    margin: 0 0 20px 0;
}

.main-text p{
    color: #747474;
}

.portfolio-btn,
.recent-btn,
.client-box a{
    width: 190px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffff;
    background-color:#1db096;
    border-radius: 20px;
    margin-top: 20px;
    box-shadow: 5px 10px 30px rgba(24, 140, 120, 0.2);
}

.portfolio-btn:hover,
.recent-btn:hover,
.client-box a:hover,
.contact-input a:hover{
    background-color: #39bfbd;
    transition: all ease-in-out .5s;
}


/* Skills */
#skills{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    margin: auto auto 50px auto;
}

.skill-text{
    width: 400px;
}

.skill-img{
    width: 600px;
    height: 600px;
}

.skill-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.skill-heading span{
    color: #39bfbd;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.skill-heading h2{
    color: #1c3548;
    font-size: 48px;
    font-weight: 800;
    letter-spacing: 1px;
    margin: 0;
    text-transform: uppercase;
}

.s-box-container{
    margin-top: 30px;
}

.skill-box{
    display: flex;
    margin: 25px 0;
}

.s-box-icon{
    margin-right: 12px;
}

.s-box-icon i{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    background-color: #f0f0f0;
}

.fa-html5{
    color: #e06061;
}

.fa-css3-alt{
    color: #416cdf;
}

.fa-js-square{
    color: #EeD91D;
}

.s-box-text strong{
    color: #1c3548;
    font-size: 15px;
    font-weight: 600;
    margin: 0;
}

.s-box-text p{
    color: #747474;
    font-size: .9rem;
    margin-top: 5px;
}

/* Recent */
#recent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}

.recent-heading span,
.client-heading span{
    color: #39bfbd;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
}

.recent-heading h2,
.client-heading h2,
#contact h2{
    color: #1c3548;
    font-weight: 700;
    font-size: 48px;
    margin: 0;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.recent-img {
    margin: 0 40px;
}

.recent-img img{
    width: 100%;
    height: 100%;
}

.recent-btn{
    margin-top: -20px;
}


/* Client Area */
#client{
    width: 100%;
    border-top: 1px solid rgba(58, 58, 58, 0.03);
    border-bottom: 1px solid rgba(58, 58, 58, 0.03);
    padding: 50px 0;
    background-image: url("../images/bg.png");
    background-position: center;
    background-size: 1000px;
}

.client-heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}

.c-box-container{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    flex-wrap: wrap;
}

.client-box{
    width: 310px;
    height: 360px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 20px;
    box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.08);
}

.client-box img{
    width: 110px;
    height: 110px;
    border-radius: 50%;
    object-fit: cover;
}

.client-box strong{
    color: #1c3548;
    margin: 10px 0 0 0;
    font-size: 19px;
    font-weight: 800;
}

.client-box p{
    color: #747474;
    margin: 0 auto;
    font-size: 13px;
    text-align: center;
    display: block;
    max-width: 80%;
}

.client-box a{
    width: 140px;
    margin: 20px;
    border-radius: 0;
}

.client-box:hover{
    transform: translateY(-10px);
    transition: all .5s;
    box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.2);
}

.star{
    display: flex;
    margin: 10px auto;
}

.star i{
    color: #ff9529;
}

/* Contact Area */
#contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

#contact img{
    height: 300px;
    margin-bottom: 20px;
}

.contact-input {
    width: 400px;
    height: 50px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    border-radius: 50px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
}

.contact-input input{
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    text-align: center;
    color: #242425;
}

.contact-input a{
    width: 200px;
    height: 40px;
    background-color: #1db096;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 8px;
    border-radius: 20px;
    font-weight: 500;
}
















